<!DOCTYPE html>
<html>
<head>  
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/skeleton.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
  <title>Home</title>
</head>

<script src="js/jquery-2.1.4.js"></script> 
<script src="js/script.js"></script>

<body>

  <div class="row">
		
    <div class="nine columns">
      <div class = "top">
  		  <h1 class ="top-title">Discussions</h1>
        <a href = "/<%="#{@category['id']}"%>"><button type = "button" class = "vote_button"> Sort by Votes </button></a>
        <a href = "/<%="#{@category['id']}"%>/bycomments"><button type = "button" class = "comment_button"> Sort by Comments </button></a>
           <% @posts.each do |post|%>
             
             <div class = "top_posts">

                  <a href = "/post/<%=post["id"]%>" class = "topic_name">
                  <%= post["topic_name"]%>
                  </a>
              </div> 

                
                   <div class = "votes">
                       <%= "#{post["votes"]}"%> Votes
                 </div> 


                   <div class = "comments">
                       <%= "#{post["num_comments"]}"%> Comments
                 </div> 
            <% end %>   


              
      </div>
    </div>
     

    <div class="three columns">
        <div class="new_post_button">
		    	<a href = "/<%="#{@category['id']}"%>/new" ><button type="button">New Post</button></a>
        </div>


    
		</div>

  
  </div> 



</body>
</html>